/* VARIABLES */
:root {
  --touch-color: #2196f3;
  /* --touch-color: #f35d21; */
  --filter-color: #f5f4fa;
  --page-color: #ffffff;
  --title-color: #212121;
  --regular-color: #757575;
  --face-color: #fff;
  --footer-color: #fff;
  --background-face-color: #2f303a;
  --background-footer-color: #2f303a;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  text-align: center;
}
h1,
h3 {
  text-transform: uppercase;
}
h2,
h3 {
  color: var(--title-color);
}
h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

ul {
  /* убрали маркеры у списка */
  list-style: none;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  background-color: var(--page-color);
  list-style: none;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.focus-page {
  color: var(--touch-color);
}
.sign-link,
.button-filter {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  color: var(--face-color);
  background: var(--touch-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.sign-link:hover
/* .sign-link:focus  */ {
  background-color: var(--touch-color);
  color: aqua;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}

.button-filter {
  /* font-family: inherit; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* display: flex; */
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--filter-color);
  /* padding: 10px 32px; */
  /* border: 0 solid; */
  /* border-radius: 4px; */
}
.button-filter :hover
/* ,
.button-filter :focus  */ {
  background-color: var(--touch-color);
  color: var(--face-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  /* color: #000000  */
}
.logoweb {
  color: #2196f3;
}

.container {
  width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.navigation,
.eadress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}

.navigation {
  color: var(--title-color);
}
.navigation :hover,
.navigation :focus,
.eadress :hover,
.eadress :focus {
  color: var(--touch-color);
}

.eadress {
  color: var (var(--regular-color));
}

.faceScreen {
  background: var(--background-face-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--page-color);
}

.features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--regular-color);
}

.names,
.metier {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.names {
  font-weight: 500;
  color: var(--title-color);
}

.metier {
  color: var(--regular-color);
}

footer {
  background-color: var(--background-footer-color);
  color: var(--footer-color);
}
address {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}
address a {
  color: var(--regular-color);
}
address a:hover,
address a:focus,
nav a:hover,
nav a:focus {
  color: var(--touch-color);
}
