/* VARIABLES */
:root {
  --touch-color: #2196F3;
  --page-color: #ffffff;
  --title-color: #212121;
  --regular-color: #757575;
  --background-face-color: #2F303A;
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
text-decoration: none;
color: inherit;
}

h1, h2 {
  text-align: center;
}

h1, h3 {
  text-transform: uppercase;
}

h2, h3 {
  color: var(--title-color);
}

body {
  font-family: var(--main-font);
  background-color: var(--page-color);
  list-style: none;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--page-color);
}

.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1,1923;
  letter-spacing: 0.03em; 
  color: #000000 
}

.container {
  width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.navigation,
.eadress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1,1428;
  letter-spacing: 0.02em;
}

.navigation {
  color: var(--title-color);
}

.eadress {
  color: var (var(--regular-color));
  }

.faceScreen {
  background: var(--background-face-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--page-color);
}

.features {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--regular-color);
}
.names, .metier {
  font-size: 16px;
  line-height: 1,1875;
  text-align: center;
  letter-spacing: 0.03em;  
}
.names {
  font-weight: 500;
  color: var (var(--title-color));
}

.metier {
  /* font-style: normal;
font-weight: normal; */
  color: var (--regular-color);
}

